:root {
--tono: 324; 
--complementario: 54;
--contraste: 214;

--color-principal: hsla(var(--tono), 100%, 40%, 1);
--color-principal-medio: hsla(var(--tono), 100%, 86%, 1);
--color-principal-claro: hsla(var(--tono), 100%, 98%, 1);
--color-principal-oscuro: hsla(var(--tono), 100%, 15%, 1);

--color-complementario: hsla(var(--complementario), 100%, 40%, 1);

--color-contraste-oscuro: hsla(var(var(--contraste), 13%, 10%, 1));
--color-contraste-media: hsla(var(var(--contraste), 15%, 40%, 1));

--color-blanco: white;

--fuente-principal: 'Poppins'; 
--light: 300;
--normal: 400;
--bold: 700;

}

h1, h2, h3, h4, h5, h6, p, a, span {
    color: var(--color-contraste-oscuro);
    text-decoration: none;
}

ul {
    list-style: none;
}

.light {
    font-weight: var(--light);
}
.normal {
    font-weight: var(--normal);
}

.bold {
    font-weight: var(--bold);
}

* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-principal);

}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position:relative;
    width: 100vw;
    overflow: hidden;
}

.page1, .page2 {
    width: 100vw;
}

.page1 {
    background-color: var (--color-blanco);
    opacity: 1;
    min-height: 100vh;
    overflow: hidden;
    left: 100%;
    pointer-events: all;
    
    
}

.entrar {
    left: 100%;
    pointer-events: all;
}





    .page1 {
        display: flex;
    }
    .banner {
        width: 70%;
        height: 70%;
        border-radius: 0 40px 40px 0;
        background-position: 100% 0;
        padding: 4rem;
        background: linear-gradient(90deg, hsl(var(--tono), 100%, 40%, 0.75),
        hsla(var(--complementario), 100%, 48%, 0.7)),
        url(../img/cara.jpg);
        background-size: cover;
    }
    
    

    .banner__title h1 {
        font-size: 3rem;

    }

    .banner__title h2 {
        font-size: 2rem;
    }

    .section {
        width: 65%;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section__title {
        margin-bottom: 5rem;
    }
    .section__title h3 {
        font-size: 3rem;
    }
    .section__skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        margin-bottom: 1rem;
        height: 80%;
    }

    .skill {
        background-color: var(--color-principal-claro);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .5rem;
        border-radius: 1.5rem;
    }

    .skill__txt h5, .skill__txt span {
        font-size: 1.75rem;
        text-transform: uppercase;
    }
    
    .skill__loader--ex {
        padding: 12px;
        background-color: var(--color-principal-medio);
    }
    
    .skill__loader--int {
        height: 10px;
        background-color: var(--color-principal);
        
    }

    .section__skills .skill:nth-child(1) .skill__loader--int {
        width: 85%;
    }

    .section__skills .skill:nth-child(2) .skill__loader--int {
        width: 75%;
    }

    .section__skills .skill:nth-child(3) .skill__loader--int {
        width: 50%;
    }

    .section__skills .skill:nth-child(4) .skill__loader--int {
        width: 75%;
    }

    .section__btns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        min-height: 3.5rem;
    }

    .section__btns a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .15rem;
        background-color: var(--color-complementario);
        padding: .1rem; 
        border-radius: 10px;
        font-size: 2rem;
        font-weight: 600;
        }

        .section__btns .bx {
            font-size: 3.5rem;
        }

        .section__btns a:nth-child(2) {
            width: 100%;
            border-radius: 30px;
            color: wheat;
        }



.page2 {
    background-color: var(--color-blanco);
    position: absolute;
    opacity: 1;
    min-height: 100vh;
    transition: .5s all ease-in-out;
    left: 100%;
    pointer-events: none;
    display: grid;
    

}
.entrar {
    left: 0%;
    pointer-events: all;
}

.header {
    background-color: yellowgreen;
    height: 120px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    position: relative;
    z-index: 2;
    grid-column: 1/13;
}

.header__a {
    color: var(--color-contraste-oscuro);
    font-weight: var(--bold);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .2s ease-in-out;
}

.header__icon {
    font-size: 70px;
}

.header__a:hover {
    color: var(--color-contraste-oscuro);
    transform: scale(.9);
}
.info__foto {
    grid-column: 1/5;
    grid-row: 2/5;
    position: relative;
    height: 30%;
    z-index: 1;
}
.info__img {
    margin: -40px;
    height: calc(100% + 40px);
    width: 50%;
    border-radius: 0 0 40px 0;
    object-fit: cover;
    object-position: 80%;
    
}

.info__dato {
    grid-column: 5/12;
    padding: 40px 0 0 40px;
}
.info__nombre {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.info__nombre h1 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: var(--bold);
    margin-right: 2rem;
}
.info__nombre h2 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: var(--light);
    position: relative;
}
.info__nombre h2::before {
    content: "";
    width: 3px;
    height: 50%;
    background-color: var(--color-contraste-oscuro);
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -1rem;
}
.info__ul {
    display: flex;
}
.info__li {
    display: flex;
    align-items: center;
    margin-right: 0px;
}
.info__icon i {
    font-size: 40px;
    margin-right: 0px;
}
.info__txt p:nth-child(1){
font-size: 16px;
}
.info__txt p:nth-child(2){
    font-size: 20px;
    font-weight: var(--bold);
}
.profile {
    padding: 0 40px;
    margin-bottom: opx;
    grid-column: 5/12;
}

.profile__titulo {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.profile__titulo i {
    font-size: 30px;
    margin-right: 5px;
}
.profile__titulo h2 {
    font-size: 30px;
    margin-right: 5px;
}
.profile__txt p {
    font-size: 20px;
    font-weight: var(--light);
    line-height: 36px;
}
.studies {
    padding: 0 40px;
    grid-column: 5/12;
    
}
.studies__titulo {
    display: flex;
    align-items: center;
    margin-bottom: 7px;

}
.studies__titulo i {
    font-size: 30px;
    margin-right: 5px;
    
}
 .studies__titulo h2 {
    font-size: 30px;
    text-transform: uppercase;
 }
 .studies__info table{
    font-size: 20px;
 }
 .studies__info td{
    padding-bottom: 2px;
 }
 .studies__years {
    font-weight: var(--bold);
    padding-right: 15px;
 }
.rrss {
    position: fixed;
    bottom: inherit;
    left: 0rem;
    right: inherit;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    min-width: initial;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}
.rrss__txt {
    background-color: var(--color-blanco);
    position: fixed;
    width: max-content;
    right: 80px;
    transform-origin: bottom right;
    
}
.rrss__txt p {
    font-size: 1.2rem;
}
.rrss__icons {
    display: flex;
    flex-direction: column;
    background-color: var(--color-contraste-oscuro);
    gap: 3rem;
    padding: 2rem 0.5rem 2rem 1rem;
    border-radius: 2rem 0 0 2rem;
}
.rrss__icons .bx {
    font-size: 3.5rem;
}



